/* Default Style */

body {
    margin: 0;
    padding: 10px;
}

header {
    width: 100%-20px;
    height: 20px;
    border-style: solid;
    border-width: thin; 
    background-color: yellow;
    color: black;
    padding: 10px;
}

main {
    width: 100%-20px;
    border-style: solid;
    border-width: thin; 
    padding: 20px;
    min-height: 500px;
}

footer {
    text-align: center;
    margin-top: 10px;
}