########################################################
# If you are not using the main path, change it below! # 
########################################################

ErrorDocument 404 /index.php
ErrorDocument 403 /index.php?p=403
ErrorDocument 500 /index.php?p=500
